<Files .env>
    Order allow,deny
    Deny from all
</Files>

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^$ public/index.php?ruta= [L,QSA]

RewriteRule ^index\.php$ public/index.php?ruta= [L,QSA]

RewriteRule ^assets/(.*)$ public/assets/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/index.php?ruta=$1 [L,QSA]

<IfModule mod_headers.c>
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "no-cache, must-revalidate"
    </FilesMatch>
</IfModule>
